.cover textarea::-webkit-scrollbar{
    width: 14px;
    background-color: transparent;
}

.cover textarea::-webkit-scrollbar-track{
    color: blue;
    margin: 2px;
}

.cover textarea::-webkit-scrollbar-thumb{
    background-color: gray;
    -webkit-border-radius: 6px;
    background-clip: padding-box;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
}

.option_list:has(input:focus){
    background-color: #e5e7eb;
}